@use 'varaibles' as *;

html {
  overflow: auto;
  padding: 1.25rem;
  padding-bottom: 0;

  // @media only screen and (min-width: $breakpoint-desktop) {
  //   &::-webkit-scrollbar {
  //     width: 6.25rem; // Breite der Scrollleiste
  //   }

  //   &::-webkit-scrollbar-thumb {
  //     background: url('../images/car-scrollbar.png') no-repeat center center;
  //     background-size: contain; // Skaliert das Bild proportional
  //     border-radius: 0.5rem; // Rundet die Ecken des Daumens
  //   }
  // }
}

body {
  background-color: $background-color;
  color: $font-color;
  font-family: $font-family;
  font-size: 1rem;
}

a {
  color: $font-color;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  font-weight: normal;
}

p {
  font-size: 1.25rem;
}

em {
  font-style: normal;
  color: white;
}

table {
  border-collapse: collapse;
}

td {
  border: solid 1px;
  padding: 0.75rem;
}
