@use 'varaibles' as *;

@media only screen and (min-width: $breakpoint-desktop) {
  .header__nav {
    justify-content: space-between;

    &__sites {
      display: flex;
      justify-content: center;
    }
  }

  footer {
    width: 45rem;

    table {
      width: 100%;

      tbody {
        width: 100%;
      }

      tr {
        width: 100%;
      }
    }
  }

  #index {
    .introduction {
      &__courses {
        width: 40rem;
      }
    }

    .vehicles {
      img {
        height: 16.25rem;
      }

      &__images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 2rem;
      }
    }

    .employees {
      img {
        height: 16.25rem;
      }

      &__images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 2rem;
        width: auto;
      }
    }

    .rooms {
      img {
        min-width: 44rem;
        width: 50%;
      }
    }
  }
}
