@font-face {
  font-family: 'Inter';
  src: url(../schfriftart/Inter/Inter-VariableFont_opsz\wght.ttf);
  font-weight: normal;
  font-style: normal;
}

$background-color: #111111;
$background-color-button: #007cba;
$font-color: #ff6900;
$font-family: 'Inter', sans-serif;
$width-logo: 17.875rem;
$second-color: #0f4438;
$border-color: #efefef;
